<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="/home" routerLinkActive="active2" class="nav-link px-2 ">Home</a></li>
        <li><a routerLink="/contents" routerLinkActive="active2" class="nav-link px-2">Contents</a></li>
        <li><a routerLink="/profile" routerLinkActive="active2" class="nav-link px-2" *ngIf="login">Profile</a></li>
      </ul>

      <div class="text-end" *ngIf="!login">
        <button type="button" routerLink="/login" routerLinkActive="active"
          class="btn btn-outline-light me-2 ">Login</button>
        <button type="button" routerLink="/register" routerLinkActive="active" class="btn btn-warning">Sign-up</button>
      </div>
      
      <div class="text-end" *ngIf="login">
        <button type="button" routerLink="/login" routerLinkActive="active"
          class="btn btn-outline-light me-2 " (click)="logOut()">Logout</button>
      </div>
    </div>
  </div>
</header>