.active{
    color: black !important;
    background-color: #eee;
    border-color: #eee;
}
.btn:hover{
    color: black;
    background-color: #eee;
    border-color: #eee;
}
.active2{
    color: black !important;
    background-color: #eee;
    border-color: #eee;
    border-radius:  5px;
}
.nav-link{
    color: #eee;
}
li{
    padding: 0 10px;
}