<div style="background-color: #eee; min-height: 100vh;">
    <div class="container pt-5 ">
        <div class="row">

            <h1 class=" text-start col-10 col-md-11">
                <span class="title">Contents</span>
            </h1>
            <a class="hover col-2 col-md-1"><i (click)="openAdd()" class="fas fa-plus-circle fa-2x me-2"></i></a>
        </div>
        <h1 class="text-center mt-5" *ngIf="contents.length == 0">No Contents</h1>
        <table class="table table-borderless table-responsive card-1 p-4" *ngIf="contents.length > 0">
            <thead>
                <tr class="border-bottom">
                    <th class="text-center">
                        <span>#</span>
                    </th>
                    <th class="text-start">
                        <span class="ms-2">Title</span>
                    </th>
                    <th class="text-center">
                        <span>Date</span>
                    </th>
                    <th class="text-center">
                        <span class="ml-4">Action</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="border-bottom" *ngFor="let c of contents;let i = index">
                    <td class="text-center">
                        <div class="p-2">
                            <span class="d-block font-weight-bold">{{i+1}}</span>
                        </div>
                    </td>
                    <td class="text-start">
                        <div class="p-2 ">
                            <span class="font-weight-bold ">{{c.title}}</span>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="p-2">
                            <span class="font-weight-bold">{{c.created | date}}</span>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="p-2 icons">
                            <a class="hover" (click)="openDetail(c)"><i class="fas fa-info-circle"></i></a>
                            <a class="hover" (click)="openEdit(c)"><i class="fas fa-edit text-muted hover"></i></a>
                            <a class="hover" (click)="onDelete(c.contentId)"><i
                                    class="fas fa-eraser text-danger"></i></a>
                        </div>
                    </td>
                </tr>




            </tbody>
        </table>


    </div>
</div>