<div style="background-color: #eee; height: 100vh;">
    <div class="container pt-5 ">
        <div class="row">

            <h1 class=" text-start col-10">
                <span class="title">Contents</span>
            </h1>
            <a class="hover col-2" (click)="openAdd()"><i class="fas fa-plus-circle fa-2x me-2"></i></a>
        </div>
        <table class="table table-borderless table-responsive card-1 p-4">
            <thead>
                <tr class="border-bottom">
                    <th class="text-center">
                        <span class="ml-2">#</span>
                    </th>
                    <th class="text-center">
                        <span class="ml-2">Title</span>
                    </th>
                    <th class="text-center">
                        <span class="ml-2">Date</span>
                    </th>
                    <th class="text-center">
                        <span class="ml-4">Action</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="border-bottom" *ngFor="let c of contents;let i = index">
                    <td class="text-center">
                        <div class="p-2">
                            <span class="d-block font-weight-bold">{{i+1}}</span>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex flex-column text-center">
                            <span class="d-block font-weight-bold">Jennifer john</span>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="p-2">
                            <span class="font-weight-bold">Ammy Song</span>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="p-2 icons">
                            <a class="hover" (click)="openDetail()"><i class="fas fa-info-circle"></i></a>
                            <a class="hover" (click)="openEdit(i)"><i class="fas fa-edit text-muted hover"></i></a>
                            <a class="hover"><i class="fas fa-eraser text-danger"></i></a>
                        </div>
                    </td>
                </tr>




            </tbody>
        </table>


    </div>
</div>