body {

    background-color: #B3E5FC;

}


.card-1 {

    border: none;
    border-radius: 10px;
    width: 100%;
    background-color: #fff;
}


.icons i {

    margin-left: 20px;

}


.header {
    // display: flex;
    // justify-content: space-between;
}

.fa-plus-circle {
    color: black;
}

.crop {
    flex: 1;
    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
}


