<h2 class=" text-center">Edit Profle</h2>
<label class="form-label mt-2 mx-2">username</label>
<input class="form-control mx-2" type="text" placeholder="username">

<label class="form-label mt-2 mx-2">email</label>
<input class="form-control mx-2" type="text" placeholder="email">

<label class="form-label mt-2 mx-2">nickname</label>
<input class="form-control mx-2" type="text" placeholder="nickname">

<!-- label -->
<label class="form-label mt-5 mx-2">comfirm password</label>
<input class="form-control mb-3 mx-2" type="password" placeholder="password">
<div class="button">

    <button class="btn btn-danger" type="button">Cancle</button>
    <button class="btn btn-success mx-2" type="button">Update</button>
</div>