<div class="content">

    <div class=" pt-3 text-center" style="background-color: #eee; min-height: 100vh;">

        <h1 class="mt-2">Hello, My name is Pakkawat Khotarut</h1>

        <h3 class="mt-3 ">This is Website Pretest </h3>
        <span>front-end by Angular version 13.1.2</span>
        <div class="angular">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png"
                alt="" width="150px">
            </div>
        <span class="mt-2">back-end by Spring boot version 2.7.4</span>
        <div class="spring">
            <img src="https://magickiat.files.wordpress.com/2017/01/spring-boot-logo.png"
                alt="" width="150px">
            </div>
    </div>
</div>