<h2 class="text-center">Edit Profle</h2>


<form [formGroup]="form" (ngSubmit)="onSubmit()">


    <div class="form-group">
        <input class="form-control mt-2" type="password" placeholder="password" formControlName="passwordOld"
            [ngClass]="{ 'is-invalid': submitted && f['passwordOld'].errors }">
        <div *ngIf="submitted && f['passwordOld'].errors" class="invalid-feedback text-start">
            <div *ngIf="f['passwordOld'].errors['required']">โปรดระบุรหัสผ่าน</div>
        </div>
    </div>
    <div class="form-group">
        <input class="form-control mt-2" type="password" placeholder="new password" formControlName="passwordNew"
            [ngClass]="{ 'is-invalid': submitted && f['passwordNew'].errors }">
        <div *ngIf="submitted && f['passwordNew'].errors" class="invalid-feedback text-start">
            <div *ngIf="f['passwordNew'].errors['required']">โปรดระบุรหัสผ่านใหม่</div>
            <div *ngIf="f['passwordNew'].errors['minlength']">
                รหัสผ่านต้องมีความยาวอย่างน้อย 6 ตัวอักษร
            </div>
            <div *ngIf="f['passwordNew'].errors['maxlength']">
                รหัสผ่านต้องมีความยาวไม่เกิน 40 ตัวอักษร
            </div>
        </div>
    </div>
    <div class="form-group">
        <input class="form-control mt-2" type="password" placeholder="confirm password"
            formControlName="passwordConfirm" [ngClass]="{ 'is-invalid': submitted && f['passwordConfirm'].errors }">
        <div *ngIf="submitted && f['passwordConfirm'].errors" class="invalid-feedback text-start">
            <div *ngIf="f['passwordConfirm'].errors['required']">โปรดกรอกรหัสผ่านยืนยัน</div>
            <div *ngIf="f['passwordConfirm'].errors['minlength']">
                รหัสผ่านต้องมีความยาวอย่างน้อย 6 ตัวอักษร
            </div>
            <div *ngIf="f['passwordConfirm'].errors['maxlength']">
                รหัสผ่านต้องมีความยาวไม่เกิน 40 ตัวอักษร
            </div>
        </div>
    </div>


    <div class="button mt-2">

        <button class="btn btn-danger" type="button" (click)="dialogRef.close(false)">Cancle</button>
        <button class="btn btn-success mx-2" type="submit">Update</button>
    </div>
</form>